/* Splash.css */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #495BFB;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
