.calendar-container {
  background-color: #121212;
  color: white;
  padding: 24px;
  font-family: 'SUIT', sans-serif;
  min-height: 100vh;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.calendar-days-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 600;
  margin-bottom: 8px;
  color: #cccccc;
}

.calendar-day-label {
  padding: 6px 0;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  row-gap: 12px;
  column-gap: 0;
  margin-bottom: 20px;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.calendar-day:hover {
  background-color: #1f1f1f;
  border-radius: 6px;
}
.calendar-day-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  line-height: 1;
}

.empty-day {
  visibility: hidden;
}

.calendar-info {
  text-align: center;
  font-size: 14px;
  margin-bottom: 12px;
  color: #ccc;
}

.calendar-event-list {
  padding: 0 12px;
}

.performer-calendar-event-card {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 6px 12px;
  margin-bottom: 16px;
  border: 1px solid #333;
  color: white;
}

.calendar-event-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 6px;
}

.calendar-event-sub {
  font-size: 14px;
  color: #cccccc;
}

.cancel-button {
  padding: 10px 12px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}
.cancel-button:hover {
  background-color: #444;
}

.pending-dot {
  width: 6px;
  height: 6px;
  background-color: #FFD700;
  border-radius: 50%;
  margin-top: 4px;
}

.confirmed-dot {
  width: 6px;
  height: 6px;
  background-color: #4CAF50;
  border-radius: 50%;
  margin-top: 4px;
}

.swal2-custom-title {
  font-size: 20px !important;
}
.swal2-popup-size {
  font-size: 14px;
}
.swal2-confirm-button {
  font-size: 13px;
}
.swal2-cancel-button {
  font-size: 13px;
}
